{% extends 'back/base_back.html.twig' %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Mon profil</h4>
        <p>Bienvenue sur votre page de profil.</p>
        <ul>
          <li>Nom : User</li>
          <li>Email : user@example.com</li>
          <li>Rôle : Administrateur</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}