{% extends 'back/base_back.html.twig' %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Ventes et dépenses</h4>
        <p>Contenu de la page Ventes et dépenses.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
